.notes-list-header {
  height: 35px;
}

.add-note-btn {
  cursor: pointer;

  height: 32px;
  width: 100px;
  min-width: 100px;

  background-color: #06d6a0;
  color: #002f26;

  border: none;

  font-weight: bold;

  padding: 5px 10px;

  &:hover {
    background-color: #009f77;
  }
}
