.user-circle {
  cursor: pointer;

  background: rgb(63, 94, 251);
  background: linear-gradient(
    180deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );

  transition: all 0.2s;

  &:hover {
    filter: drop-shadow(0 0 15px #757cf5d5);
  }
}
