.app-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  gap: 10px;
}

.main-content {
  overflow-y: auto;

  padding: 0px 10px;
}
